<app-header></app-header>
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable ">
        <div class="column is-one-third has-text-left">
          <h1 class="title is-1">Add your Blog</h1>
          <p class="is-size-4"> Get inspired and inspire others . Tell us where to go ? what's the next exciting
            location in Austria</p>
          <div class="social-media">
            <a href="https://facebook.com" target="_blank" class="button is-light is-large"><i
              class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://instagram.com" target="_blank" class="button is-light is-large"><i class="fa fa-instagram"
                                                                                                aria-hidden="true"></i></a>
            <a href="https://twitter.com" target="_blank" class="button is-light is-large"><i class="fa fa-twitter"
                                                                                              aria-hidden="true"></i></a>
          </div>
        </div>
        <form class="column is-two-thirds has-text-left" [formGroup]="BlogForm">
        <div >
          <div class="field">
            <label class="label">Author Name</label>
            <div class="control">
              <input class="input is-medium" type="text" formControlName="authorName" placeholder="Name" [(ngModel)]="author.authorName">
            </div>
          </div>
          <div class="field">
            <label class="label">Author Email</label>
            <div class="control">
              <input class="input is-medium" type="text" formControlName="email" placeholder="Email" [(ngModel)]="author.authorEmail">
            </div>
          </div>
          <div class="field">
            <label class="label">Location Name</label>
            <div class="control">
              <input class="input is-medium" type="text" formControlName="locationName" placeholder="Sight" [(ngModel)]="location.locationName">
            </div>
          </div>
          <div class="field">
            <label class="label">City</label>
            <div class="control">
              <input class="input is-medium" type="text" formControlName="locationCity" placeholder="City" [(ngModel)]="location.locationCity">
            </div>
          </div>
          <div class="field">
            <label class="label">Street</label>
            <div class="control">
              <input class="input is-medium" type="text" formControlName="locationStreet" placeholder="Street" [(ngModel)]="location.locationStreet">
            </div>
          </div>
          <div class="field">
            <label class="label">Zip Code</label>
            <div class="control">
              <input class="input is-medium" type="text" formControlName="locationZip" placeholder="Zip" [(ngModel)]="location.locationZip">
            </div>
          </div>
          <div class="field">
            <label class="label">Blog Title</label>
            <div class="control">
              <input class="input is-medium" type="text" formControlName="title" placeholder="Title" [(ngModel)]="blog.blogTitle">
            </div>
          </div>
          <div class="field">
            <label class="label">Text</label>
            <div class="control">
              <textarea class="textarea is-medium" formControlName="locationName" placeholder="Text" [(ngModel)]="blog.blogText"></textarea>
            </div>
          </div>
          <br>
          <div class="control">
            <button type="submit" class="button is-success has-text-weight-medium is-medium " (click)="onSendBlog()">Send Message</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
