<app-header></app-header>

<!--this section could repeat for each article-->
<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <figure class="image is-16by9">
            <img src="../assets/images/See.jpg" alt="">
          </figure>
        </div>
      </div>

      <section class="section" *ngIf="blogs$ | async as blogs ">
        <div class="columns" *ngFor="let blog of blogs">
          <div class="column is-8 is-offset-2" >
            <div class="content is-medium">
              <h2 class="subtitle is-4">{{blog.blog?.blogDate}}</h2>
              <h1 class="title">{{blog.blog?.blogTitle}}</h1>
              <button class="button is-success is-large" data-target="modal" (click)="openBlog(blog.blog?.blogId)">Show The Blog
              </button>
            </div>
          </div>
        </div>
      </section>
      <div class="divider is-dark"></div>
    </div>
  </div>
</section>
<app-footer></app-footer>

