<app-header></app-header>
<br><br>
<progress class="progress is-small is-primary" max="100">15%</progress>
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Most popular location</p>
      <p class="title">{{ FamousLocation$ | async }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Most popular blog</p>
      <p class="title">{{ FamousblogTitle$ | async }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div >
      <p class="heading">number of Authors</p>
      <p class="title" >{{ (Authors$ | async).length }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">number of visits</p>
      <p class="title">{{ blogsVisits$ | async }}</p>
    </div>
  </div>
</nav>
<app-footer></app-footer>
