<app-header></app-header>
<br><br>
<progress class="progress is-small is-primary" max="100">15%</progress>
<nav *ngIf="blogStats$ | async as blogStats" class="level is-mobile">
  <div  class="columns">
    <div  *ngFor="let MonthlyLocationStatistics of blogStats.monthly">
      <h2 class="subtitle is-4">Monthly Statistics:</h2>
      <article class="message is-dark">
        <div class="message-header">
          <p>{{MonthlyLocationStatistics.name}}</p>
          <button aria-label="delete" class="delete"></button>
        </div>
        <div class="message-body">
          <p><strong>Number of Views</strong>{{MonthlyLocationStatistics.count}}</p>
        </div>
      </article>
    </div>
    <div *ngFor="let AllTimeLocationStatistics of blogStats.allTime">
      <h2 class="subtitle is-4">AllTime Statistics:</h2>
      <article class="message is-dark">
        <div class="message-header">
          <p>{{AllTimeLocationStatistics.name}}</p>
          <button aria-label="delete" class="delete"></button>
        </div>
        <div class="message-body">
          <p><strong>Number of Views</strong>{{AllTimeLocationStatistics.count}}</p>
        </div>
      </article>
    </div>
  </div>
</nav>
<app-footer></app-footer>
