<app-header></app-header>
<br><br>
<progress class="progress is-small is-primary" max="100">15%</progress>
<nav class="level is-mobile" *ngIf="blogStats$ | async as blogStats">
  <div class="level-item has-text-centered">
    <div *ngIf="getSpecificBlogStat('popular_location', blogStats) as popularLocation">
      <p class="title has-text-grey">Most popular location</p>
      <br>
      <p class="has-text-weight-bold">Name: {{ popularLocation.name }}</p>
      <p class="has-text-weight-bold">Blogs Count: {{ popularLocation.count }}</p>
      <br>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div *ngIf="getSpecificBlogStat('popular_blog', blogStats) as popularBlog">
      <p class="title has-text-grey">Most popular blog</p>
      <br>
      <p class="has-text-weight-bold">Name: {{ popularBlog.name }}</p>
      <p class="has-text-weight-bold">Author: {{ popularBlog.author }}</p>
      <p class="has-text-weight-bold">Views: {{ popularBlog.count }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div *ngIf="getSpecificBlogStat('blog_visits', blogStats) as blogVisits">
      <p class="title has-text-grey">Blogs view count</p>
      <br>
      <p class="has-text-weight-bold">{{ blogVisits.count }}</p>
      <br>
      <br>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div *ngIf="getSpecificBlogStat('authors_registered', blogStats) as authorsRegistered">
      <p class="title has-text-grey">Authors registered</p>
      <br>
      <p class="has-text-weight-bold">{{ authorsRegistered.count }}</p>
      <br>
      <br>
    </div>
  </div>
</nav>
<app-footer></app-footer>
