<section class="hero is-medium is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="../assets/images/blog.png">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu"> <span></span><span></span> <span></span> </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="tabs is-right">
              <ul>
                <li><a routerLink="/user-view">Home</a></li>
                <li><a  routerLink="/author-view">Author</a></li>
                <li><a  routerLink="/statistic-view">Statistics</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Austrian Blog Service &lt;Travel Portal&gt;
      </h1>
      <h2 class="subtitle">
        A travel portal is intended to stimulate Austrian tourism
        on which patriotic authors can publish sensational blog posts on
        given Austrian sights. These articles should whet your appetite for
        a vacation in the Alpine republic.

      </h2>
    </div>
  </div>
</section>
